*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    background-color: #1b1b1b;
    font-family: 'Roboto', sans-serif;
}

.top{
    position: fixed;
    background-color: #262626;
    top: 0;
    left: 0;
    height: 20px;
    width: 100%;
}

.left{
    position: fixed;
    background-color: #262626;
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
}

.right{
    position: fixed;
    background-color: #262626;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
}

.bottom{
    position: fixed;
    background-color: #262626;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
}

.container{
    padding-top: 25px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer{
    height: 100vh;
    width: 100%;
}

nav{
    /*visibility: visible;*/
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 10PX;
}

nav ul{
    height: 98vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a{
    color: white;
    font-size: 20px;
    transition: ease 0.5s;
    justify-content: space-between;
}

nav ul li a:hover{
    color: #c32865;
}

.foot{
    padding: 20px 0 20px 0;
    position: relative;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials{
    padding: 5px;
}

.socials ul{
    display: flex;
}

.socials ul li{
    padding: 0 10px 0 10px;
}

.socials ul li a{
    color: white;
    font-size: 20px;
    transition: ease 0.5s;
}

.socials ul li a:hover{
    color: #c32865; 
}

.copyright{
    color: white;
    padding-top: 10px;
    padding-bottom: 10PX;
}

.copyright a{
    color: white;
    font-style: italic;
    transition: ease 0.5s;
}

.copyright a:hover{
    color: #c32865;
}

hr{
    background-color: transparent;
    border-bottom: 2px solid #c32865;
    box-shadow: 15px 5px 10px ;
    height: 1px;
    width: 99%;
}

.active{
    color: #c32865;
}

.main{
    top: 0;
    left: 0;
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
}

@media screen and (min-width: 40px){

    .outer{
        width: 60%;
    }

}

@media screen and (max-width: 768px){

    .outer{
        width: 100%;
    }

}

@media screen and (max-width: 500px){
    

}